#hakkimizda {
    text-align: right;
    width: 100px;
    height: 200px;
    float: right;
}

#anasayfa {
    text-align: right;
    width: 100px;
    float: right;
    height: 200px;
}

.anasayfa1 {
    text-align: end;
    width: 100px;
    height: 200px;
}

.body {
    background-color: orange;
}